<!DOCTYPE html>
<html class="<%= classes %> template-<%= current.source %>">
  <head>

    <meta charset="utf-8" />

    <title><%= title %> - <%= site %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="" />

    <link rel="icon" href="/images/icons/favicon.ico" />

    <link rel="stylesheet" href="/boilerplate/styles/boilerplate.css" />

    <link rel="alternate" href="/rss.xml" title="<%= site %> RSS" type="application/rss+xml" />

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: [
            'Roboto:500,400italic,300,700,300italic,400:latin',
            'Syncopate'
          ]
        }
      });
    </script>

    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>

    <link rel="import" href="/bower_components/ajax-form/ajax-form.html" />
    <link rel="import" href="/bower_components/core-ajax/core-ajax.html" />
    <link rel="import" href="/bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html" />
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

    <link rel="import" href="/custom_components/materialize-card/materialize-card.html" />
  </head>

  <body unresolved>

    <core-drawer-panel>

      <core-header-panel drawer>

        <core-toolbar>
          <div>Application</div>
          <paper-icon-button icon="search" class="fade-on-drawer-open" on-tap="{{ toggleSearch }}" role="button" tabindex="0" aria-label="search"></paper-icon-button>
        </core-toolbar>

        <nav>
          <button type="button" class="close" data-action="reveal" data-target="sidebar" aria-hidden="true">&times;</button>
          <ul>
              <li>
                  <a ui-sref="#">Tour</a>
              </li>
              <li>
                  <a ui-sref="#">Log in</a>
              </li>
          </ul>
          <ul>
              <li>
                  <a ui-sref="#">My Planner</a>
              </li>
              <li>
                  <a ui-sref="#">My Diet</a>
              </li>
              <li>
                  <a ui-sref="#">My Shopping List</a>
              </li>
          </ul>
          <ul>
              <li>
                  <a ui-sref="#">Editorial</a>
              </li>
              <li>
                  <a ui-sref="#">Recipes</a>
              </li>
              <li>
                  <a ui-sref="#">Shopping Assistant</a>
              </li>
          </ul>
          <ul>
              <li>
                  <a ui-sref="#">Help &amp; Support</a>
              </li>
          </ul>
          <hr />
          <ul>
              <li>
                  <a ui-sref="#">About Cook AdLib</a>
              </li>
              <li>
                  <a ui-sref="#">Blog</a>
              </li>
              <li>
                  <a ui-sref="#">Developers</a>
              </li>
              <li>
                  <a ui-sref="#">Press &amp; Media</a>
              </li>
              <li>
                  <a ui-sref="#">Terms of Service</a>
              </li>
              <li>
                  <a ui-sref="#">Privacy Policy</a>
              </li>
              <li>
                  <a ui-sref="#">Contact Us</a>
              </li>
          </ul>
          <hr />
          <div>
              <a href="#">
                  <span>Twitter</span><i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                  <span>Facebook</span><i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                  <span>Google+</span><i class="fa fa-google-plus"></i>
              </a>
              <a href="#">
                  <span>YouTube</span><i class="fa fa-youtube"></i>
              </a>
              <a href="#">
                  <span>Tumblr</span><i class="fa fa-tumblr"></i>
              </a>
              <a href="#">
                  <span>Reddit</span><i class="fa fa-arrow-circle-o-up"></i>
              </a>
          </div>
        </nav>

      </core-header-panel>

      <core-header-panel main>

        <core-toolbar>

          <paper-icon-button icon="menu" core-drawer-toggle>
            toggle drawer
          </paper-icon-button>

          <div>Title</div>

        </core-toolbar>

        <main>
          Main content...
        </main>

        <aside id="aside-1">
          <h2>Latest Posts</h2>
          <ul>
            <% for(var slug in public.posts._data) { %>
             <li>
               <a href="<%= url %>/posts/<%= slug %>"><%= public.posts._data[slug].title %></a>
               <p><%= public.posts._data[slug].description %></p>
             </li>
           <% } %>
          </ul>
        </aside>

        <footer is="main-footer">
          <span class="colophon" data-i18n="ns.interface:copyright">Copyright &copy; <%= dateofpublication %> <%= site %></span>
          <form is="ajax-form" action="/api/form/handler" method="post">
            <label for="main-search" data-i18n="ns.interface:search">Search</label>
            <input name="main-search" placeholder="search" type="search" />
            <button data-i18n="ns.interface:search">Search</button>
          </form>
        </footer>

      </core-header-panel>

    </core-drawer-panel>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/i18next/i18next.js"></script>
    <script src="/boilerplate/scripts/boilerplate.js"></script>
  </body>

</html>
