<!DOCTYPE html>
<html class="<%= classes %> template-<%= current.source %>">
  <head>
    <%- partial('_partials/head') %>
  </head>

  <body unresolved>

    <%- yield %>

    <%- partial('_partials/scripts') %>

  </body>

</html>
