<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= site %></title>
    <link><%= url %></link>
    <description><%= description %></description>
    <atom:link href="<%= url %>" rel="self" type="application/rss+xml" />
    <% for(var slug in public.posts._data) { %>
     <item>
       <title><%= public.posts._data[slug].title %></title>
       <link><%= url %>/posts/<%= slug %></link>
       <guid><%= url %>/posts/<%= slug %></guid>
       <description><![CDATA[<%= public.posts._data[slug].description %>]]></description>
     </item>
   <% } %>
  </channel>
</rss>
